<mat-card class="card-note-list mg-card">
    <mat-card-title>Set new password</mat-card-title>
    <mat-card-subtitle>change your password</mat-card-subtitle>
    <form autocomplete="off"
        class="note-form"
        [formGroup]="changePasswordForm"
        (submit)="updatePassword()"
        fxLayout="column">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Current password</mat-label>
            <input matInput type="text">
        </mat-form-field>    
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput type="text" formControlName="password">
        </mat-form-field> 
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirm new password</mat-label>
            <input matInput type="text" formControlName="confirmPassword">
        </mat-form-field>
        <button mat-button type="submit">Set New Password</button>
    </form>
</mat-card>
