<mat-card class="card-note-list mg-card">
    <mat-card-title>Set new password</mat-card-title>
    <mat-card-subtitle>change your password</mat-card-subtitle>
    <form autocomplete="off"
        class="note-form"
        [formGroup]="changePasswordForm"
        (submit)="updatePassword()"
        fxLayout="column">
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Current password</mat-label>
            <input matInput [type]="passwordInput ? 'password' : 'text'" formControlName="actualPassword">
            <button mat-icon-button matSuffix (click)="passwordInput = !passwordInput" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordInput">
                <mat-icon>{{passwordInput ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>    
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Password</mat-label>
            <input matInput [type]="newPasswordInput ? 'password' : 'text'" formControlName="password">
            <button mat-icon-button matSuffix (click)="newPasswordInput = !newPasswordInput" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="newPasswordInput">
                <mat-icon>{{newPasswordInput ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field> 
        <mat-form-field appearance="fill" class="full-width">
            <mat-label>Confirm new password</mat-label>
            <input matInput [type]="confirmPasswordInput ? 'password' : 'text'" formControlName="confirmPassword">
            <button mat-icon-button matSuffix (click)="confirmPasswordInput = !confirmPasswordInput" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordInput">
                <mat-icon>{{confirmPasswordInput ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
        <button mat-button type="submit" [disabled]="changePasswordForm.invalid">Set New Password</button>
    </form>
</mat-card>
