<p>Todas las notas</p>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div fxLayoutAlign="">
        <button mat-button color="warn"><mat-icon>add</mat-icon></button>
    </div>
   
        <mat-form-field appearance="fill" style="width: 30em; margin-right: 5px;">
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
</div>

<div fxLayout="column" fxLayoutGap="10px" style="margin: 20px;">
   
        <mat-card fxFlex="1 1 auto">
            <mat-card-title>Titulo Nota 1</mat-card-title>
            <mat-card-subtitle>13 de agosto 2022</mat-card-subtitle>
            <mat-card-actions>
            </mat-card-actions>
            <mat-card-footer>
                <div class="note-color {{defaultColor}}"></div>
            </mat-card-footer>
        </mat-card>

        <mat-card fxFlex="1 1 auto">
            <mat-card-title>Titulo Nota 2</mat-card-title>
            <mat-card-subtitle>11 de agosto 2022</mat-card-subtitle>
            <mat-card-actions>
            </mat-card-actions>
            <mat-card-footer>
                <div class="note-color {{defaultColor}}"></div>
            </mat-card-footer>
        </mat-card>

        <mat-card fxFlex="1 1 auto">
            <mat-card-title>Titulo Nota 3</mat-card-title>
            <mat-card-subtitle>15 de agosto 2022</mat-card-subtitle>
            <mat-card-actions>
            </mat-card-actions>
            <mat-card-footer>
                <div class="note-color {{redColor}}"></div>
            </mat-card-footer>
        </mat-card>
 
</div>    
