<div fxLayoutAlign="center">
    <h2>{{title}}</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <button mat-button color="warn" (click)="addNoteButton()">
        <mat-icon>add</mat-icon>
    </button>
   
    <mat-form-field appearance="fill" style="width: 20em;" fxLayout="row" fxLayoutAlign="start center">
        <input matInput (keyup)="searchNote($event)">
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
</div>

<mat-menu #notesOptions="matMenu">
    <ng-template matMenuContent let-note="note">
        <button mat-menu-item (click)="deleteNote(note)">
            <mat-icon>delete</mat-icon>
            <span>Eliminar</span>
        </button>
    </ng-template>    
</mat-menu>

<div fxLayout="column" fxLayoutGap="10px" class="card-note-list">

    <div *ngIf="loadingNotes" fxLayout="row" fxLayoutAlign="center center">
        <mat-spinner
        color="accent"></mat-spinner>
    </div>

    <div fxLayoutAlign="center center" *ngIf="viewNotes.length == 0 && !loadingNotes">
        <h2 class="sub-text">No notes found...</h2>
    </div>

    <mat-card fxFlex="1 1 auto" *ngFor="let note of viewNotes">
        <mat-card-content>
            <mat-card-title>
                <p fxFlex="grow" (click)="selectNote(note)">{{note.title}}</p>
                <button mat-icon-button [matMenuTriggerFor]="notesOptions" aria-label="Example icon-button with a menu"
                [matMenuTriggerData]="{note: note}">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-checkbox fxLayoutAlign="center center"
                     [(ngModel)]="note.fav"
                     (change)="favouriteClick(note);">
                </mat-checkbox>
            </mat-card-title>
            <mat-card-subtitle (click)="selectNote(note)">{{note.createdAt}}</mat-card-subtitle>
        </mat-card-content>
        <mat-card-footer>
            <div [ngClass]="getCategoryColorClass(note)"></div>
        </mat-card-footer>
    </mat-card>

</div>