<div fxLayoutAlign="center">
    <h2>Todas las notas:</h2>
</div>

<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div>
        <a mat-button color="warn" routerLink="/notes/create"><mat-icon>add</mat-icon></a>
    </div>
   
        <mat-form-field appearance="fill" style="width: 30em;">
            <input matInput>
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
</div>

<mat-menu #notesOptions="matMenu">
    <button mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Eliminar</span>
    </button>
</mat-menu>

<div fxLayout="column" fxLayoutGap="10px" class="card-note-list">
   
        <mat-card fxFlex="1 1 auto">
            <mat-card-content (click)="selectNote()">
                <mat-card-title fxLayoutAlign="space-between center">
                    Titulo Nota 1 
                    <button mat-icon-button [matMenuTriggerFor]="notesOptions" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </mat-card-title>
                <mat-card-subtitle>13 de agosto 2022</mat-card-subtitle>    
            </mat-card-content>
            <mat-card-footer>
                <div class="note-color {{defaultColor}}"></div>
            </mat-card-footer>
        </mat-card>

        <mat-card fxFlex="1 1 auto">
            <mat-card-title>Titulo Nota 2</mat-card-title>
            <mat-card-subtitle>11 de agosto 2022</mat-card-subtitle>
            <mat-card-footer>
                <div class="note-color {{defaultColor}}"></div>
            </mat-card-footer>
        </mat-card>

        <mat-card fxFlex="1 1 auto">
            <mat-card-title>Titulo Nota 3</mat-card-title>
            <mat-card-subtitle>15 de agosto 2022</mat-card-subtitle>
            <mat-card-footer>
                <div class="note-color {{redColor}}"></div>
            </mat-card-footer>
        </mat-card>
 
</div>    
