
<h1 mat-dialog-title>Nueva Categoria:</h1>
<div mat-dialog-content>
  <form autocomplete="off">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput type="text">
    </mat-form-field>
    <div fxLayout="column">
      <div class="custom-radios">
        <div>
          <input type="radio" id="color-1" name="color" value="color-1" checked>
          <label for="color-1">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
        
        <div>
          <input type="radio" id="color-2" name="color" value="color-2">
          <label for="color-2">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
        
        <div>
          <input type="radio" id="color-3" name="color" value="color-3">
          <label for="color-3">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      
        <div>
          <input type="radio" id="color-4" name="color" value="color-4">
          <label for="color-4">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      </div>
    
      <div class="custom-radios">
        <div>
          <input type="radio" id="color-5" name="color" value="color-5">
          <label for="color-5">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
        
        <div>
          <input type="radio" id="color-6" name="color" value="color-6">
          <label for="color-6">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
        
        <div>
          <input type="radio" id="color-7" name="color" value="color-7">
          <label for="color-7">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      
        <div>
          <input type="radio" id="color-8" name="color" value="color-8">
          <label for="color-8">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      </div>
    </div>
    <button mat-button type="submit">Guardar</button> 
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Gracias</button>
  <button mat-button cdkFocusInitial>Guardar</button>
</div>


