<div fxLayout="column" fxLayoutAlign="center center">
  <h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
  <form autocomplete="off"
    (submit)="saveCategory()"
    [formGroup]="categoryForm">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="name">
    </mat-form-field>
    <p>Color:</p>
    <div fxLayout="column">
      <div class="custom-radios">
        <div>
          <input type="radio" id="color-1" name="color" value="color-1" formControlName="color" checked>
          <label for="color-1">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
        
        <div>
          <input type="radio" id="color-2" name="color" value="color-2" formControlName="color">
          <label for="color-2">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
        
        <div>
          <input type="radio" id="color-3" name="color" value="color-3" formControlName="color">
          <label for="color-3">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      
        <div>
          <input type="radio" id="color-4" name="color" value="color-4" formControlName="color">
          <label for="color-4">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      </div>
    
      <div class="custom-radios">
        <div>
          <input type="radio" id="color-5" name="color" value="color-5" formControlName="color">
          <label for="color-5">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
        
        <div>
          <input type="radio" id="color-6" name="color" value="color-6" formControlName="color">
          <label for="color-6">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
        
        <div>
          <input type="radio" id="color-7" name="color" value="color-7" formControlName="color">
          <label for="color-7">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      
        <div>
          <input type="radio" id="color-8" name="color" value="color-8" formControlName="color">
          <label for="color-8">
            <span>
              <img src="./../../../assets/img/check-icn.svg" alt="Checked Icon" />
            </span>
          </label>
        </div>
      </div>
    </div>
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="onNoClick()">Cancel</button>
      <button mat-raised-button type="submit" [disabled]="categoryForm.invalid"
      color="primary" [class.spinner]="loadingApiResponse" [disabled]="loadingApiResponse">Save</button>
    </div>
  </form>
</div>
</div>




