<div fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="" mat-button><mat-icon>arrow_back</mat-icon></a><h2>Administrar categorias:</h2>
    <p fxFlex.lt-md="20"></p>
</div>
<mat-divider></mat-divider>
<mat-card class="content">
    <button mat-flat-button (click)="openDialog()">Anadir Categoria</button>
    <mat-list>
        <mat-list-item>
            <span class="dot" style=" background-color: #bbfaa6;"></span>
            <div>
                CATEGORIA 1
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="dot" style="background-color: #d6c2f5;"></span>
            <div>
                CATEGORIA 2
            </div>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class="dot" style="background-color: #fad5af;"></span>
            <div>
                CATEGORIA 3
            </div>
        </mat-list-item>
      </mat-list>
</mat-card>