<div fxLayout="row" fxLayoutAlign="space-between center">
    <a routerLink="" mat-button><mat-icon>arrow_back</mat-icon></a><h2>Manage categories:</h2>
    <p fxFlex.lt-md="20"></p>
</div>
<mat-divider></mat-divider>
<mat-card class="content">
    <button mat-flat-button (click)="openDialog()">Add Category</button>
    <div *ngIf="loadingData">
        <h1>Loading data...</h1>
    </div>
    <ng-template [ngIf]="categories.length">
        <mat-list>
            <mat-list-item *ngFor="let item of categories">
                <div  fxLayout="row" fxFlex="grow" (click)="selectCategory(item)">
                    <span class="dot {{item.color}}"></span>
                    <div>
                        {{item.name}}
                    </div>
                </div>
                <button mat-icon-button color="warn" (click)="delete(item)"><mat-icon>delete_outline</mat-icon></button>
            </mat-list-item>
          </mat-list>
    </ng-template>
    
</mat-card>