<div class="main-content">
    <div fxLayout="row" fxLayoutAlign="center strech" class="card-note-list">
        <mat-card class="login">
            <mat-card-title>NoteApp</mat-card-title>
            <mat-card-subtitle>Ingrese a la app por medio de un mail y password o utilizando una cuenta de google</mat-card-subtitle>
            <mat-card-content>
                <form autocomplete="off"
                    [formGroup]="loginForm"
                    (ngSubmit)="loginSubmit()"
                    fxLayout="column">
    
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your email</mat-label>
                        <input matInput placeholder="pat@example.com" formControlName="email" required>
                        <button mat-icon-button matSuffix>
                            <mat-icon>mail</mat-icon>
                          </button>
                    </mat-form-field>
    
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your password</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                    </mat-form-field> <br>
                    <button mat-button type="submit">Ingresar</button>
                </form>
                <mat-divider></mat-divider>
                <div class="auth-google">
                    <a routerLink="">Ingresar con google</a>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
