/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.note {
    transition: 0.4s ease;
}

.note:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 0.4s ease;
}

.note-color {
    height: 5px;
    width: 100%;
    }

.note-grey {
    background: grey;
}

.note-red {
    background: red;
}

.spacer {
    flex: 1 1 auto;
  }

@media only screen and (min-width: 1000px) {
    .card-note-list {
        margin-right: 150px;
        margin-left: 150px;
    }
}