/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main {
  position: relative;
}

.note {
    transition: 0.4s ease;
}

.note:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: 0.4s ease;
}

.note-color {
    height: 5px;
    width: 100%;
    }

.note-grey {
    background: grey;
}

.spacer {
    flex: 1 1 auto;
  }

.login {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
}

 .color-1 {
    background-color: #B5EAD7;
  }
  .color-2 {
    background-color: #C7CEEA;
  }
  .color-3 {
    background-color: #E2F0CB;
  }
  .color-4 {
    background-color: #FFDAC1;
  }
  .color-5 {
    background-color: #FFB7B2;
  }
  .color-6 {
    background-color: #FF9AA2;
  }
  .color-7 {
    background-color: #FFD5FA;
  }
  .color-8 {
    background-color: #B79FF1;
  }

  .text-pastel-green {
    color: #FFB7B2;
  }

  .mg-card {
    margin-top: 30px;
  }

@media only screen and (min-width: 1000px) {
    .card-note-list {
        margin-right: 150px;
        margin-left: 150px;
    }
}