<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push">
        <h1>NoteApp</h1>
        <mat-selection-list [multiple]="false">
            <mat-list-option>
              <a routerLink="" (click)="sidenav.toggle()">Todas las notas</a>
            </mat-list-option>
            <mat-list-option>
                <a routerLink="" (click)="sidenav.toggle()">Favoritas</a>
              </mat-list-option>
              <mat-list-option>
                <a routerLink="" (click)="sidenav.toggle()">Papelera</a>
              </mat-list-option>
          </mat-selection-list>
          <mat-divider></mat-divider>
          <br>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Categorias
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list [multiple]="false">
                <mat-list-option>
                  <a routerLink="" (click)="sidenav.toggle()">Programacion</a>
                </mat-list-option>
                <mat-list-option>
                    <a routerLink="" (click)="sidenav.toggle()">Compras</a>
                  </mat-list-option>
                  <mat-list-option>
                    <a routerLink="" (click)="sidenav.toggle()">Tareas</a>
                  </mat-list-option>
              </mat-selection-list>
          </mat-expansion-panel>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="userOptions">Username</button>
    </mat-toolbar>

    <mat-menu #userOptions="matMenu">
      <button mat-menu-item>Configuracion</button>
      <a mat-menu-item routerLink="/login">Salir</a>
    </mat-menu>

    <router-outlet></router-outlet>

</mat-sidenav-container>