<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav mode="push" class="side">
        <h1>NoteApp</h1>
        <mat-selection-list [multiple]="false">
            <mat-list-option>
              <a routerLink="" (click)="sidenav.toggle()">Todas las notas</a>
            </mat-list-option>
            <mat-list-option>
                <a routerLink="" (click)="sidenav.toggle()">Favoritas</a>
              </mat-list-option>
              <mat-list-option>
                <a routerLink="" (click)="sidenav.toggle()">Papelera</a>
              </mat-list-option>
            </mat-selection-list>
            <mat-divider></mat-divider>
            <br>
            <div fxLayout="column">
              <a mat-raised-button routerLink="" (click)="sidenav.toggle()">Administrar categorias</a>
              <button mat-button [matMenuTriggerFor]="categoriesMenu">Categorias</button>
              <mat-menu #categoriesMenu="matMenu" class="cat-menu">
                <a mat-menu-item routerLink="">Programacion</a>
                <a mat-menu-item routerLink="">Todo</a>
              </mat-menu>
          </div>
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
            (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-button [matMenuTriggerFor]="userOptions">Username</button>
    </mat-toolbar>

    <mat-menu #userOptions="matMenu">
      <button mat-menu-item>Configuracion</button>
      <a mat-menu-item routerLink="/login">Salir</a>
    </mat-menu>

    <router-outlet></router-outlet>

</mat-sidenav-container>